/*Custom (Useful) Classes*/
.pb-18 {
  padding-bottom: 18px;
}

.pb-38 {
  padding-bottom: 38px;
}

.pb-20 {
  padding-bottom: 20px;
}

.art {
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.art-text{
  padding: 38px 48px 38px 48px;
}

.poster{
  margin-top: 18px;
  margin-bottom: 18px;
}

.separator {
    margin: 0;
    padding: 0;
    display: block;
}

/*Fixing Bootstrap .container-fluid*/
.fix {
  padding-left: 48px;
  padding-right: 48px;
  margin-left: -12px;
  margin-right: -12px;
}
