/*Design choises regarding fonts and marking*/
@font-face {
  font-family: Beatrice;
  src: url(../../font/Beatrice-Regular.ttf);
}

body {
  font-family: Beatrice;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
}

mark {
  color: white;
  background-color: #0073F0;
}

a {
  text-decoration: none;
  color: #0073F0;
}

a:hover{
  color: white;
}
